body {
  font-family: 'Segoe UI', sans-serif;
}

html {
  scroll-behavior: smooth;
}

h2 {
  color: #d63384;
}

section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.card-img-top {
  max-height: 300px;  
  object-fit: contain; 
  width: 100%; 
}


/*--------Cart---------*/
#cartItems {
  margin-top: 20px;
}

#cartItems .row {
  border-bottom: 1px solid #ddd;
  padding: 15px 0;
}

#cartItems img {
  max-width: 100%;
  max-height: 100px;
  object-fit: cover;
}

#totalAmount {
  font-size: 1.5rem;
  font-weight: bold;
}



/*Carousel Section*/
.carousel-control-prev,
.carousel-control-next {
  background: none;
  /* Removes the transparent background */
  width: auto;
  /* Removes full height width */
}

.carousel-caption.left-center {
  right: auto;
  left: 5%;
  /* Adjust for spacing */
  top: 50%;
  transform: translateY(-50%);
}
.carousel-caption.right-center {
  left: auto;
  right: 18%;
  /* Adjust for spacing */
  top: 35%;
  transform: translateY(-50%);
}